.App {
  text-align: center;
}

.add-task-form {
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-self: center;
  flex-direction: row;
}
.tasks-list {
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  align-self: center;
  flex: 0.5;
}
.task {
  padding: 10;
}
